---
import ButtonBar from "@components/buttonbar.astro";
import { Icon } from "astro-icon/components";
---

<ButtonBar>
  <a class="icon" href="mailto:kdvasque@gmail.com" target="_blank">
    <Icon size={40} name="ion:mail" />
  </a>
  <a class="icon" href="https://linkedin.com/in/kdvasquez" target="_blank">
    <Icon size={40} name="ion:logo-linkedin" />
  </a>

  <a class="icon" href="https://github.com/kdvasquez" target="_blank">
    <Icon size={40} name="ion:logo-github" />
  </a>


</ButtonBar>

<style lang="scss">
  [data-icon] {
    color: var(--med);
  }

  .icon {
    text-decoration: none;
  }

  a {
    box-shadow: none;
    padding: 0;
    transition: none;
  }
  a:hover {
    background: none;
  }
</style>
<!-- ---
import ButtonBar from "@components/buttonbar.astro";
import { Icon } from "astro-icon/components";
---

<ButtonBar>
  <a class="icon" href="mailto:kdvasque@gmail.com">
    <Icon size={40} name="ion:mail" />
  </a>
  <a class="icon" href="https://linkedin.com/in/kdvasquez">
    <Icon size={40} name="ion:logo-linkedin" />
  </a>

  <a class="icon" href="https://github.com/kdvasquez">
    <Icon size={40} name="ion:logo-github" />
  </a>

</ButtonBar>

<style lang="scss">
  [data-icon] {
    color: var(--med);
  }

  .icon {
    text-decoration: none;
  }

  a {
    box-shadow: none;
    padding: 0;
    transition: none;
  }
  a:hover {
    background: none;
  }
</style> -->
